 *{
  margin: 0px;
  padding: 0px;
  border: 0px;
/*  width: 100vw;
*/}

iframe {
    height: 100vh;
    width: 100vw;
}

.container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 100vw;


}
.projectBlock{
  display: flex;
  object-fit: contain;
  position: relative;
  width: 50vw;


}

.container img {
    width: 50vw;

    height: auto;
}


.image {
  display: block;
  width: 50vw;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #eebf3a;
  font-weight: bold;


}

.projectBlock:hover .overlay {
  opacity: 86%;
}

.title {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 100%;
  font-family: 'Poppins', sans-serif;

}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #f8f6f2;
  height: 50%;
  width: 100vw;
  position: sticky;

}

/* Navbar links */
#navbar a {
  float: center;
  display: inline-block;
  color: #ef4b6f;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 25px;
  margin-left: 50px;
  margin-right: 100px;
  z-index: 100;


}

#navbar a:hover {
  text-shadow: 2px 2px 0 #eebf3a;


}


.main_image_container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

}

.white_half{
  background-color: #f8f6f2;
  width: 50vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.imagery{
  width: 50vw;
  height: 100vh;
  
}

.title_mobile{
  visibility: hidden;
display: none;
}


.bold_text{
  z-index: 100;
    font-size: 100px;
    width: 40%;
    line-height: 90%;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #ef4b6f;
    text-shadow: 5px 5px 0 #eebf3a;
      top: 45%;
  left: 32%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);



}

.thin_text{
  z-index: 100;
    font-size: 30px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: #ef4b6f;
      top:67%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    width: 25%;


}
.pageContainer{
  display: flex;
  flex-direction: column;
  width: 100vw;

}




.projectTitle{
  color:  #f8f6f2;
  font-size: 60px;
  position: absolute;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.textBlock{
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background: #f8f6f2;
    font-family: 'Poppins', sans-serif;
    color: #4a4848;


}

.textBlockDescription{
  height: 50vh;
  width: 100vw;
  background: #f8f6f2;
  font-family: 'Poppins', sans-serif;
    color: #4a4848;

  

}

.projectPageHeaderImage{
  position: relative;
}

.about_me_title {
  z-index: 1;
  color: #f8f6f2;
  font-size: 100px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;

}

a:link{
  color: #ef4b6f;
  text-decoration: none;
}
a:visited{
  color: #787878;
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
}

a: active{
    text-decoration: none;

}
.text{
  margin: 8%;

  font-size: 23px;
  font-family: 'Poppins', sans-serif;


}

.aboutMeText{
  font-size: 23px;
    font-family: 'Poppins', sans-serif;
      margin-left: 8%;
  margin-right: 8%;
  font-weight: medium;



}


/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.about_me_image{
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 1367px) {
  .bold_text{
    font-size: 100px;

  }
  .thin_text{
    font-size: 25px;
  }
  }

@media only screen and (max-width: 1025px) {

  .container{
  flex-direction:column;
}

#navbar a {

  font-size: 30px;
  margin-left: 10px;

}



.white_half{

visibility: hidden;
}

.imagery{
  visibility: hidden;
}

.me{
visibility: hidden;}

.bold_text{
  z-index: 100;
    font-size: 150px;
    width: 60%;

      top: 40%;
  left: 55%;
}

.main_image_container{
    width: 100vw;
  height: 100vh;
background-color: #f8f6f2;

}


.about_me_title{
  font-size: 150px;
}


.thin_text{
  z-index: 100;
    font-size: 45px;
    position: absolute;
    top: 0;
    font-family: 'Poppins', sans-serif;
    color: #ef4b6f;
      top:70%;
      line-height: 55px;
  left: 55%;
  width: 60%;




}
.container img{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  width: 100vw;


}
.projectBlock{
  display: flex;
  object-fit: contain;
  position: relative;
  width: 100vw;


}

.title_mobile{
  display: unset;
  visibility: visible;
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.overlay{
    opacity: .4;
    height: auto;

}

.projectTitle{
  font-size: 70px;
  line-height: 110px;
}
.text{
  font-size: 25px;
}

}
@media only screen and (max-width: 813px) {
  .title{
      font-size: 40px;

  }
  .title_mobile{
  visibility: visible;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.bold_text{
  width: 100%;
  z-index: 100;
  font-size: 100px;
   width: 60%;
  top: 46%;
  left: 60%;
      text-shadow: 5px 5px 0 #eebf3a;

}

.thin_text{
  z-index: 100;
    font-size: 24px;
    position: absolute;
    top: 0;
    font-family: 'Poppins', sans-serif;
    color: #ef4b6f;
      top:65%;
      line-height: 25px;
  left: 50%;
  width: 40%%;


}

#navbar {
  overflow: hidden;
  background-color: #f8f6f2;
  height: 10%;
  width: 100vw;
}

#navbar a {

  font-size: 25px;
  padding:0px;
  padding-top: 5px;
    padding-bottom: 5px;

      margin-right: 0px;
      margin-left:10px;
}

.projectTitle{
        font-size: 40px;
          top: 65%;
  left: 50%;
  line-height: 60px;



}

.text{
  margin: 10%;
  font-size: 20px;

}

.textBlockDescription{
  height: auto;
  width: 100vw;
  background: #f8f6f2;
  font-family: 'Poppins', sans-serif;
    color: #4a4848;

  

}

@media only screen and (max-width: 768px) and (max-height: 1024px){
.projectTitle{
        font-size: 60px;
          top: 23%;
  left: 50%;
  line-height: 75px;

}

.text{
  font-size: 25px;
}
}
@media only screen and (max-width: 376px) {
  .title{
      font-size: 40px;

  }
  .title_mobile{
  visibility: visible;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.about_me_title{
  font-size: 60px;
}

.bold_text{
  width: 100%;
  z-index: 100;
  font-size: 70px;
   width: 60%;
  top: 46%;
  left: 50%;
      text-shadow: 5px 5px 0 #eebf3a;

}

.thin_text{
  z-index: 100;
    font-size: 24px;
    position: absolute;
    top: 0;
    font-family: 'Poppins', sans-serif;
    color: #ef4b6f;
      top:60%;
      line-height: 25px;
  left: 55%;
  width: 70%;


}

#navbar {
  overflow: hidden;
  background-color: #f8f6f2;
  height: 10%;
  width: 100vw;
}

#navbar a {

  font-size: 25px;
  padding:0px;
  padding-top: 5px;
    padding-bottom: 5px;

      margin-right: 0px;
      margin-left:30px;
}

.projectTitle{
        font-size: 20px;
          top: 18%;
  left: 50%;
  line-height: 30px;


}

.text{
  margin: 10%;
  font-size: 20px;

}

.textBlockDescription{
  height: auto;
  width: 100vw;
  background: #f8f6f2;
  font-family: 'Poppins', sans-serif;
    color: #4a4848;

  

}

}

@media only screen and (max-width: 325px) {
  .bold_text{
  width: 100%;
  z-index: 100;
  font-size: 55px;
   width: 60%;
  top: 42%;
  left: 50%;
      text-shadow: 5px 5px 0 #eebf3a;

}

.projectTitle{
        font-size: 20px;
          top: 23%;
  left: 50%;
  line-height: 30px;


}

  }