*{
	margin: 0px;
	padding: 0px;
	border: 0px;
/*	width: 100vw;
*/}

.container{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	width: 100vw;


}
.projectBlock{
	display: flex;
	object-fit: contain;
	position: relative;
	width: 50vw;


}

.container img {
    width: 50vw;

    height: auto;
}


.image {
  display: block;
  width: 50vw;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99.2%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #ff4f6f;

}

.projectBlock:hover .overlay {
  opacity: 86%;
}

.title {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: medium;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #f8f6f2;
  height: 30%;
  width: 100vw;
  position: sticky;

}

/* Navbar links */
#navbar a {
  float: center;
  display: inline-block;
  color: #ef4b6f;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin-left: 20px;


}

#navbar a:hover {
  text-shadow: 2px 2px 0 #eebf3a;


}


.main_image_container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;

}

.white_half{
	background-color: #f8f6f2;
	width: 50vw;
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.imagery{
	width: 50vw;
	height: 100vh;
	
}


.bold_text{
	z-index: 100;
  	font-size: 100px;
  	width: 40%;
  	line-height: 90px;
  	position: absolute;
  	font-family: 'Poppins', sans-serif;
  	font-weight: 800;
  	color: #ef4b6f;
  	text-shadow: 5px 5px 0 #eebf3a;
  	margin-top: 13%;
  	margin-left: 13%;
  	margin-bottom: 13%;



}

.thin_text{
	z-index: 100;
  	font-size: 25px;
  	position: absolute;
  	top: 0;
  	font-family: 'Poppins', sans-serif;
  	color: #ef4b6f;
  	margin-top: 28%;
  	margin-left: 13%;
  	width: 25%;
  	margin-bottom: 15%;

}