  
<div class="projectBlock">
  <a href={{pageURL}}>
     <p class="title_mobile">{{title}}</p>

    <img src={{imageUrl}} alt={{title}} />
  	<div class="overlay">
     <p class="title">{{title}}</p>
 </div>
  </a>
</div>
