  

<div class = "pageContainer">


  <div class="projectHeaderImage" >

  <div class="projectTitle">
    <h1> {{ title }} </h1>
  </div>
    <img src={{projectPageHeaderImage}} title={{title}} style='height: 100%; width: 100%; object-fit: cover; object-position: center;'/>
  </div>


    <div class="textBlock">
    {{! This variable needs triple brackets because it's actually html, not just a string}}
    <div class = "text"> {{{ description }}}</div>
  </div>

  <div class="textBlock">
    {{! This variable needs triple brackets because it's actually html, not just a string}}
     <div class = "text">  {{{ problemStatement }}} </div>
  </div>

    
  <div class="researchImage">
    <img src={{researchImage}} title={{title}} style='height: 100%; width: 100%; object-fit: cover; object-position: center;'/>
  </div>
    
   <div class="textBlock">
    {{! This variable needs triple brackets because it's actually html, not just a string}}
     <div class = "text"> {{{ research }}} </div>
  </div>

  <div class="wireframeImage">
    <img src={{wireframeImage}} title={{title}} style='height: 100%; width: 100%; object-fit: cover; object-position: center;'/>
  </div>

   <div class="textBlock">
    {{! This variable needs triple brackets because it's actually html, not just a string}}
     <div class = "text"> {{{ wireframeDescription }}} </div>
  </div>
    
    <div class="finalPhoto">
    <img src={{finalPhoto}} title={{title}} style='height: 100%; width: 100%; object-fit: cover; object-position: center;'/>
  </div>

   <div class="textBlock">
    {{! This variable needs triple brackets because it's actually html, not just a string}}
     <div class = "text"> {{{ finalDescription }}} </div>
  </div>

</div>
  

