  
<div class="projectImage">
  <img src={{imageUrl}} title={{title}} />
</div>
<div class="projectTitle">
  {{ title }}
</div>
<div class="projectDescription">
  {{! This variable needs triple brackets because it's actually html, not just a string}}
  {{{ description }}}
</div>
<div class="problemStatement">
  {{! This variable needs triple brackets because it's actually html, not just a string}}
  {{{ problemStatement }}}
</div>

  
<div class="researchImage">
  <img src={{researchImage}} title={{title}}/>
</div>
  
 <div class="research">
  {{! This variable needs triple brackets because it's actually html, not just a string}}
  {{{ research }}}
</div>

<div class="wireframeImage">
  <img src={{wireframeImage}} title={{title}}/>
</div>

 <div class="wireframeDescription">
  {{! This variable needs triple brackets because it's actually html, not just a string}}
  {{{ wireframeDescription }}}
</div>
  
  <div class="finalPhoto">
  <img src={{finalPhoto}} title={{title}}/>
</div>

 <div class="finalDescription">
  {{! This variable needs triple brackets because it's actually html, not just a string}}
  {{{ finalDescription }}}
</div>
  

